      rules_version = '2';
    service firebase.storage {
      match /b/{bucket}/o {
        match /{allPaths=**} {
          // Allow anyone to read; Allow write only if user is logged in
          allow read: if true;
          allow write: if request.auth != null;
        }
      }
    }
    